/***********************************************************/
/***********************GESAMT******************************/
/***********************************************************/
* {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color:#333333;
}

#frap{
	width: 1307px;
	margin: 0 auto;
}

/*gruene Linien*/
.g_lines{
	height: 10px;
	background:#B2FC52;
	width:1307px;
}

.content{
	width:960px;
	margin: 0 auto;
}



/***********************************************************/
/***********************HEADER******************************/
/***********************************************************/

#h_header{
	position:relative;
	top: -20px;
	left: -40px;
	z-index:1;
	overflow: visible;
	width:1307px;
}

#h_logo{
	position:relative;
	top:-350px;
	z-index:2;
	margin: 0 auto;
	width: 530px;
}

#h_facebook{
	position:absolute;
	top:290px;
	left:545px;
	z-index:2;
}

#h_twitter{
	position:absolute;
	top:290px;
	left:590px;
	z-index:2;
}

#h_nerdhub{
	position:absolute;
	top:290px;
	left:635px;
	z-index:2;
}

#first_line{
	position:relative;
	top:-40px;
	margin-top:-174px;
}
/***********************************************************/
/***********************Überschriften***********************/
/***********************************************************/
h1 {
	font-size: 28px;
	text-transform: uppercase;
	font-weight:bolder;
}

/***********************************************************/
/***********************FLIEßTEXT***************************/
/***********************************************************/
#text{
	float: left;
	width: 640px;
	padding-bottom: 18px;
	margin-top:-30px;
	margin-left:-3%

}

#fliesstext{
	font-family: 'Vollkorn', serif;
	clear: left;
	width: 640px;
}


/***********************************************************/
/***********************TERMINBOX***************************/
/***********************************************************/

#terminbox{
	text-align:center;
	width: 320px;
	float:right;
	height:370px;
	overflow: visible;
	margin-top: -50px;
	padding-left: 800px;
	position:absolute;
	z-index:3;
}

#box_content{
	width: 261px;
	height:300px;
	float:left;
	padding: 29.5px;
	background: #333333;
}

#termin_datum{
	font-size: 40px;
	float:left;
	color: white;
	font-weight:bolder;
}

#termin_location{
	font-size: 16px;
	float:left;
	color: white;
	text-align:left;
	padding-top:10px;
	padding-left:30px;
}

#termin_address{
	font-size: 12px;
	color: white;
	width:140px;
}

.button_font{
	position:absolute;
	padding-left:80px;
	padding-top:30px;
}

#teilnehmen{
	potition:absolute;
	padding-top: 80px;
	color:#9a9a9a;
}

#teiln_bg{
	padding-top: 100px;
}


#schreib_uns{
	font-size:12px;
	color: white
}

#spitze{
	position:absolute;
	margin-top: 359px;
	margin-left: 0px;
	z-index:1;
}



/**********************************************************/
/***********************MAP********************************/
/**********************************************************/
#map {
	float: left;
	margin-bottom: 54px;
	width: 1307px;
}

#map_canvas {
	height:509px;
}

.infoBox img.infoBoxIcon {
	float: left;
	margin-right: 10px;
	margin-bottom: 30px;
}

.infoBox p {
	text-align: left;
	width: 189px;
	float: right;
	color: #FFFFFF;
}

.infoBox a {
	color: #FFFFFF;
}


/***********************************************************/
/***********************TWITTER*****************************/
/***********************************************************/
#twitter{
	height: 520px;
	overflow:hidden;
}

#twitter_name{
	padding-top: 20px;
	font-size:50px;
	text-align: center;
	color:white;
	text-shadow: #5a5a5a 0.1px 0.1px 0.2em;
	background:#B2FC52;
	height:80px;
}

#vogel{
	float:left;
	margin-left: -40px;
}

#tbox{
	float:left;
	width:460px;
	height:455px;
}


/***********************************************************/
/***********************FORMULAR****************************/
/***********************************************************/
#formular{
	padding-top:3px;
	height: 300px;
	width:1307px;
	margin-bottom:-20px;
	padding-bottom:30px;
	padding-left: 180px;
}

#formular_bg{
	background:#F5F5F5;
}

.fields{
	font-family: 'Vollkorn', serif;
	height: 30px;
	width: 460px;
	margin-bottom: 10px;
	color:#999999;
}

textarea{
	font-family: 'Vollkorn', serif;
	float:left;
	height: 190px;
	width: 460px;
	margin-right: 30px;
	color:#999999;
}

.button_font{
	text-transform: uppercase;
	text-decoration:none;
	font-weight: bold;
	font-size: 17px;
	text-align:center;
}

#button_frap{
}

#absenden{
	float:right;
	z-index:1;
	color:#9a9a9a;
	width:87px;
	position:absolute;
	left: 670px;
	bottom: -65px;
}

#submit_bg{
	width: 165px;
	float:left;
	padding-top: 20px;
	padding-left: 515px;
	position: absolute;
}


/***********************************************************/
/***********************FOOTER******************************/
/***********************************************************/
#backtotop{
	position:absolute;
	margin:-29px;
	float:right;
	margin-left:1060px;
}

.white{
	color:white;
}

footer{
	background:#333333 ;
	color:white;
	overflow: hidden;
	padding-top: 20px;
}

.graue_trennlinie{
	height:1.5px;
	width:260px;
	background:#5c5c5c;
	float:right;
	margin-bottom:10px;
	margin-top:10px;
}

#footer_text{
	color:white;
	text-transform: uppercase;
	font-size: 28px;
}

#left_footer{
	color:white;
	float:left;
}

#copyright{
	padding-top:100px;
	font-weight:bold;
}

#right_footer{
	color:white;
	text-align:right;
	font-weight: bold;
	padding-top: 80px;
	width: 180px;
	float: right;
}

.icons{
	margin-right: -40px;
	overflow:auto;
	float:right;
	margin-top:-10px
}

#f_facebook{
	float:right;
}

#f_twitter{
	float:right;
	margin-left: -35px;
}

#f_nerdhub{
	float:right;
	margin-left: -35px;
}
